In [6]:
import pandas as pd

df = pd.read_excel("Sample - Superstore.xls")

# **Sélection d'une colonne**

On sélectionne la colonne "Sales".

In [8]:
sa = df["Sales"]

print(sa)

0       261.9600
1       731.9400
2        14.6200
3       957.5775
4        22.3680
          ...
9989     25.2480
9990     91.9600
9991    258.5760
9992     29.6000
9993    243.1600
Name: Sales, Length: 9994, dtype: float64

On sélectionne la colonne "Quantity".

In [15]:
qtt = df["Quantity"]

print(qtt)

0       2
1       3
2       2
3       5
4       2
       ..
9989    3
9990    2
9991    2
9992    4
9993    2
Name: Quantity, Length: 9994, dtype: int64

# **Différence entre Dataframe et Series**

On utilise la commande "type()".

In [10]:
type(df)

pandas.core.frame.DataFrame

In [11]:
type(df["Sales"])

pandas.core.series.Series

# **Les Filtres**

Pour la colonne "Ship Mode", on regarde s'il s'agit de "Second Class" et on renvoie True/False.

In [12]:
df["Ship Mode"] == "Second Class"

0        True
1        True
2        True
3       False
4       False
        ...
9989     True
9990    False
9991    False
9992    False
9993     True
Name: Ship Mode, Length: 9994, dtype: bool

Affiche une liste des différents "Ship Mode", avec la fonction "tolist()" et sans doublons avec la fonction "unique().

In [16]:
sm = df["Ship Mode"].unique().tolist()
print(sm)

['Second Class', 'Standard Class', 'First Class', 'Same Day']

Affiche seulement les lignes du dataframe ou les ventes sont supérieures à 200

In [21]:
s200 = df[df["Sales"] > 200]
print(s200)

      Row ID        Order ID Order Date  Ship Date       Ship Mode  \
0          1  CA-2016-152156 2016-11-08 2016-11-11    Second Class
1          2  CA-2016-152156 2016-11-08 2016-11-11    Second Class
3          4  US-2015-108966 2015-10-11 2015-10-18  Standard Class
7          8  CA-2014-115812 2014-06-09 2014-06-14  Standard Class
10        11  CA-2014-115812 2014-06-09 2014-06-14  Standard Class
...      ...             ...        ...        ...             ...
9976    9977  US-2016-103674 2016-12-06 2016-12-10  Standard Class
9979    9980  US-2016-103674 2016-12-06 2016-12-10  Standard Class
9988    9989  CA-2017-163629 2017-11-17 2017-11-21  Standard Class
9991    9992  CA-2017-121258 2017-02-26 2017-03-03  Standard Class
9993    9994  CA-2017-119914 2017-05-04 2017-05-09    Second Class

     Customer ID    Customer Name      Segment        Country  \
0       CG-12520      Claire Gute     Consumer  United States
1       CG-12520      Claire Gute     Consumer  United States
3       SO-20335   Sean O'Donnell     Consumer  United States
7       BH-11710  Brosina Hoffman     Consumer  United States
10      BH-11710  Brosina Hoffman     Consumer  United States
...          ...              ...          ...            ...
9976    AP-10720       Anne Pryor  Home Office  United States
9979    AP-10720       Anne Pryor  Home Office  United States
9988    RA-19885     Ruben Ausman    Corporate  United States
9991    DB-13060      Dave Brooks     Consumer  United States
9993    CC-12220     Chris Cortes     Consumer  United States

                 City  ... Postal Code  Region       Product ID  \
0           Henderson  ...       42420   South  FUR-BO-10001798
1           Henderson  ...       42420   South  FUR-CH-10000454
3     Fort Lauderdale  ...       33311   South  FUR-TA-10000577
7         Los Angeles  ...       90032    West  TEC-PH-10002275
10        Los Angeles  ...       90032    West  FUR-TA-10001539
...               ...  ...         ...     ...              ...
9976      Los Angeles  ...       90032    West  TEC-PH-10002496
9979      Los Angeles  ...       90032    West  OFF-BI-10002026
9988           Athens  ...       30605   South  TEC-PH-10004006
9991       Costa Mesa  ...       92627    West  TEC-PH-10003645
9993      Westminster  ...       92683    West  OFF-AP-10002684

             Category Sub-Category  \
0           Furniture    Bookcases
1           Furniture       Chairs
3           Furniture       Tables
7          Technology       Phones
10          Furniture       Tables
...               ...          ...
9976       Technology       Phones
9979  Office Supplies      Binders
9988       Technology       Phones
9991       Technology       Phones
9993  Office Supplies   Appliances

                                           Product Name      Sales  Quantity  \
0                     Bush Somerset Collection Bookcase   261.9600         2
1     Hon Deluxe Fabric Upholstered Stacking Chairs,...   731.9400         3
3         Bretford CR4500 Series Slim Rectangular Table   957.5775         5
7                        Mitel 5320 IP Phone VoIP phone   907.1520         6
10             Chromcraft Rectangular Conference Tables  1706.1840         9
...                                                 ...        ...       ...
9976                                       Cisco SPA301   249.5840         2
9979                  Ibico Recycled Linen-Style Covers   437.4720        14
9988                    Panasonic KX - TS880B Telephone   206.1000         5
9991                              Aastra 57i VoIP phone   258.5760         2
9993  Acco 7-Outlet Masterpiece Power Center, Wihtou...   243.1600         2

      Discount    Profit
0         0.00   41.9136
1         0.00  219.5820
3         0.45 -383.0310
7         0.20   90.7152
10        0.20   85.3092
...        ...       ...
9976      0.20   31.1980
9979      0.20  153.1152
9988      0.00   55.6470
9991      0.20   19.3932
9993      0.00   72.9480

[2579 rows x 21 columns]